* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

header {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header img {
  width: 2rem;
  display: block;
  margin: 0 auto;
}

nav {
  font-size: 0.8rem;
  background-color: #328e86;
  margin-bottom: .8rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1.5rem 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  /* color: #555; */

  color: whitesmoke;
  transition: color 0.2s ease-in-out;
  /* font-weight: 600; */
}

nav a:hover {
  color: #d8eb7e;
}

#promotional article {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: linear-gradient(to right, transparent, #328e86);
  padding-right: 0.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

#promotional div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#promotional h1 {
  font-size: 1.5rem;
  color: #328e86;
  margin-bottom: 0.5rem;
  font-weight: bold;
  max-width: 60%;
  padding-bottom: 1rem;
}

#promotional p {
  font-size: 0.9rem;
  color: #555;
  max-width: 60%;
}

#promotional button {
  padding: 0.5rem 1rem;
  background-color: #d8eb7e;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
  width: fit-content;
}

#promotional div img {
  width: 100%;
  padding: 0;
  object-fit: cover;
  display: block;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  padding: 2rem 0.4rem;
}

.content {
  flex: 1 1 300px;
  text-align: center;
  padding: 0.2rem 0.3rem;
  font-size: 0.9rem;
  color: #555;
}

.content h3 {
  color: #67855a;
  margin: 0.5rem 0;
}

.content img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #328e86;
  padding: 0.6rem 0.5rem;
  color: #fff;
}

footer div {
  flex: 1 1 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 1.3rem;
}
